<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3yuhpeXfZ_R5JCR-ts4Zk3-u5pC1yweQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1094993833277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aiapp-15644</string>
	<key>STORAGE_BUCKET</key>
	<string>aiapp-15644.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094993833277:ios:be4a7851ab7a3f30382954</string>
</dict>
</plist>